.main-container {
    display: flex;
    justify-content: space-between;
    height:100vh;
}

.left {    
    width: 35%;
    background-color: rgba(227, 210, 195, 1); /* Фон лівої частини */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lenght {
    margin: 5%;
    margin-bottom: 0;
    padding: 3%;
    padding-bottom: 0;
    height: 300px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.angel {
    width: 100%;
    margin: 5%;
    margin-bottom: 0;
    padding: 3%;
    padding-bottom: 0;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scale {
    width: 100%;
    margin: 5%;
    margin-bottom: 0;
    padding: 3%;
    padding-bottom: 0;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right {
    display: flex;
    width: 65%;
    background-color: #CAAAD6;
    align-items: center;
    justify-content: center;
}

label {
    font-size: 20px; /* Розмір шрифту 20px */
    font-family: 'Comfortaa', cursive; /* Встановлення шрифту Comfortaa для тексту */
    font-weight: bold; /* Товщина шрифту - жирний */
    margin-top: 10px; /* Опускаємо текст на 10 пікселів нижче */
}

.build-button {   
    background-color: #9499F6; /* Фон кнопки "Build" */
    color: black; /* Колір тексту кнопки "Build" */
    border: none;
    border-radius: 20px; /* Закруглення кнопки */
    padding: 5px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 5%; /* Знизимо на 5 пікселів */
    margin-bottom: 30%;
}