﻿@page
@model Computer_Graphics.Pages.ColorsModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/landingPageStyles.css">
</head>

<header class="header-item" style="background-color:rgba(254, 126, 94, 0)">
    <div class="header-item-content-div">
        <a asp-page="Index">
            <button class="header-button" id="home-button">
                <i class="fa-solid fa-house"></i>Home
            </button>
        </a>
        <a asp-page="Activity">
            <button class="header-button" id="activity-button">
                <i class="fa-solid fa-bars"></i>Activity
            </button>
        </a>
        <a>
            <button class="header-button" id="contact-us-button">
                <i class="fa-solid fa-phone-volume"></i>Contact us
            </button>
        </a>
    </div>
</header>
<div class="main">
    <div class="header">
        <h1>Color Pallets</h1>
    </div>
    <div class="MYcontainer">
        <div class="img-n-button">
            <div class="imgContainer">
                <input type="file" id="fileInput" accept="image/*" style="display: none;;">
                <img id="previewImage" src="" alt="Preview" style="display: none;">
            </div>
            <button id="upload">Upload image</button>
        </div>
        <div class="ColorPalletContainer">
            <div class="HSL">
                <div style="margin-top: 5%;">
                    <label style="display: flex; justify-content: center;" onclick="document.querySelector('.main-item').style.display='block' "
                        id="hsl-label">
                        HSL
                    </label>                    
                </div>
                <form oninput="rangeH.value=parseInt(h.value)" name="HForm">
                    <div class="HSL-element">
                        <div style="display: flex; justify-content: space-between;">
                            <label>Hue</label>
                            <output name="rangeH" for="H">180</output>
                        </div>
                        <input type="range" min="0" max="360"
                               class="rainbow-slider" id="h" />
                    </div>
                </form>
                <form oninput="rangeS.value=parseInt(s.value)" name="SForm">
                    <div class="HSL-element">
                        <div style="display: flex; justify-content: space-between;">
                            <label>Saturation</label>
                            <output name="rangeS" for="S">50</output>
                        </div>
                        <input type="range" min="0" max="100"
                               id="s" class="saturation-slider" />
                    </div>
                </form>
                <form oninput="rangeL.value=parseInt(l.value)" name="LForm">
                    <div class="HSL-element">
                        <div style="display: flex; justify-content: space-between;">
                            <label>Lightness</label>
                            <output name="rangeL" for="L">50</output>
                        </div>
                        <input type="range" min="0" max="100" id="l"
                               class="lightness-slider" />
                    </div>
                </form>
            </div>
            <div class="CMYK">
                <div style="margin-top: 5%;">
                    <label style="display: flex; justify-content: center;">CMYK</label>
                </div>
                <form oninput="rangeCyan.value=parseInt(Cyan.value)" name="LForm">
                    <div class="HSL-element">
                        <div style="display: flex; justify-content: space-between;">
                            <label>Cyan</label>
                            <output name="rangeCyan" for="Cyan">50</output>
                        </div>
                        <input type="range" min="0" max="100"
                               id="Cyan" class="cyan-slider" />
                    </div>
                </form>
                <form oninput="rangeMagenta.value=parseInt(Magenta.value)" name="LForm">
                    <div class="HSL-element">
                        <div style="display: flex; justify-content: space-between;">
                            <label>Magenta</label>
                            <output name="rangeMagenta" for="Magenta">50</output>
                        </div>
                        <input type="range" min="0" max="100"
                               id="Magenta" class="magenta-slider" />
                    </div>
                </form>
                <form oninput="rangeYellow.value=parseInt(Yellow.value)" name="LForm">
                    <div class="HSL-element">
                        <div style="display: flex; justify-content: space-between;">
                            <label>Yellow</label>
                            <output name="rangeYellow" for="Yellow">50</output>
                        </div>
                        <input type="range" min="0" max="100"
                               id="Yellow" class="yellow-slider" />
                    </div>
                </form>
                <form oninput="rangeBlack.value=parseInt(Black.value)" name="LForm">
                    <div class="HSL-element">
                        <div style="display: flex; justify-content: space-between;">
                            <label>Black</label>
                            <output name="rangeBlack" for="Black">50</output>
                        </div>
                        <input type="range" min="0" max="100"
                               id="Black" class="black-slider" />
                    </div>
                </form>
            </div>
        </div>
        <div class="img-n-button">
            <div class="imgContainer">
                <canvas id="canvas" style="display: none;"></canvas>
                <img id="outputImage" style="display: none;">
            </div>
            <button id="download">Download image</button>
        </div>
    </div>
</div>
<script src="~/CG_js/Colors.js"></script>
<script>
    let hsl_l = document.getElementById('hsl-label');
    hsl_l.addEventListener('click', () => {
        const d_hsl = document.getElementById('dialog-hsl');
        d_hsl.show();
    });    
</script>







<head>
    <link rel="stylesheet" href="~/css/moduleWindow.css">
</head>

<dialog id="dialog-hsl">

    <div class="main-item">
        <div class="main-content-form">

            <div class="inform-window">
                <div class="inform-window-head">
                    <button class="close-button" id="close_hsl"><i class="fa-regular fa-circle-xmark cancle-icon"></i></i></button>
                </div>
                <div class="inform-window-content">
                    <h2>What is HSL?</h2>
                    <div class="info-section">
                        <div class="info-text-section">
                            <a>
                                <strong>HSL (Hue, Saturation, Lightness)</strong> is a color model used in computer graphics and design.
                                It represents colors, with each color defined by three key characteristics: Hue (actual
                                color in degrees on the color wheel), Saturation (intensity from grayscale to fully saturated),
                                and Lightness (brightness or darkness from black to white). HSL simplifies color editing in graphic programs,
                                making it more intuitive compared to models like RGB or CMYK.
                            </a>
                        </div>
                        <div class="info-image-section">
                            <img src="~/img/HSL_color_solid_cylinder.png">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="main-item">
        <div class="main-content-form">

            <div class="inform-window">
                <div class="inform-window-head">
                    <button class="close-button"><i class="fa-regular fa-circle-xmark cancle-icon"></i></i></button>
                </div>
                <div class="inform-window-content">
                    <h2>What is CMYK?</h2>
                    <div class="info-section">
                        <div class="info-text-section">
                            <a>
                                <strong>(Cyan, Magenta, Yellow, Key/Black)</strong> - is a subtractive color model used in printing to create a
                                full spectrum of colors. The letters in the name represent the four primary colors:
                                Cyan (blue), Magenta (purple), Yellow, and Key/Black. These colors are combined to
                                achieve various shades. For example, red is produced by using Magenta and Yellow
                                without Cyan. The addition of Black (Key) enhances contrast and depth of colors.
                            </a>
                        </div>
                        <div class="info-image-section">
                            <img src="~/img/CMYK_Revised.png">
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
</dialog>
<script>
    hsl_l = document.getElementById('hsl-label');
    document.getElementById('close_hsl').addEventListener('click', () => {
        const d_hsl = document.getElementById('dialog-hsl');
        d_hsl.close();
    });
</script>