﻿html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.MYcontainer {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100vmax;
}

.left {
    width: 35%;
    background-color: #CAAAD6; /* Фон лівої частини */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-row {
    display: flex;
    align-items: center;
}

.right {
    width: 65%;
    background-color: #CAAAD6; /* Фон правої частини */
    text-align: center;
    position: relative;
}

.right-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #9499F6; /* Фон кнопки "Home" */
    color: black; /* Колір тексту кнопки "Home" */
    border: none;
    border-radius: 20px; /* Закруглення кнопки */
    padding: 5px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.icon-home {
    color: black; /* Колір іконки дому */
    margin-left: 5px;
}

img {
    max-width: 100%;
    height: auto;
}

.image-container {
    position: absolute;
    /*top: 45px; */ /* Змінено на 45px для зниження на 10 пікселів */
    margin: 0.5%;
    left: 0;
    right: 0;
    display: flex;
    align-items: center; /* Вирівнюємо по вертикалі */
    flex-direction: column; /* Встановлюємо стовпчасте вирівнювання */
}

    .image-container p {
        margin-top: 10px; /* Додано відступ між текстом і кнопкою */
        font-family: 'Inknut Antiqua', serif; /* Змінено шрифт на Inknut Antiqua */
        font-weight: bold;
    }

.left p {
    font-size: 20px; /* Розмір шрифту 20px */
    font-family: 'Comfortaa', cursive; /* Встановлення шрифту Comfortaa для тексту */
    font-weight: bold; /* Товщина шрифту - жирний */
    margin-top: 10px; /* Опускаємо текст на 10 пікселів нижче */
}

.build-button {
    background-color: #9499F6; /* Фон кнопки "Build" */
    color: black; /* Колір тексту кнопки "Build" */
    border: none;
    border-radius: 20px; /* Закруглення кнопки */
    padding: 5px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 5px; /* Знизимо на 5 пікселів */
}

.icon-build {
    margin-left: 5px;
}

input {
    border-radius: 20px; /* Закруглення інпутів */
    background-color: #CCCCCC; /* Сірий фон інпутів */
    padding: 5px 10px;
}

#canvas {
}

.color-name {
    display: flex;
}

.left output {
    font-size: 20px; /* Розмір шрифту 20px */
    font-family: 'Comfortaa', cursive; /* Встановлення шрифту Comfortaa для тексту */
    font-weight: bold; /* Товщина шрифту - жирний */
    margin: 5%
}















#color-picker {
    display: inline-block;
    text-align: left;
}

#color-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px 0;
    border: 3px solid #000;
}

input[type="range"] {
    width: 200px;
    /*margin: 10px 0;*/
}

#color-box {
    width: 200px;
    height: 200px;
    margin: 20px 0;
    border: 3px solid #000;
    border-radius: 50%;
}






#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}









.select-css {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    /*
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    */
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

    .select-css::-ms-expand {
        display: none;
    }

    .select-css:hover {
        border-color: #888;
    }

    .select-css:focus {
        border-color: #aaa;
        box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
        box-shadow: 0 0 0 3px -moz-mac-focusring;
        color: #222;
        outline: none;
    }

    .select-css option {
        font-weight: normal;
    }

*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
    background-position: left .7em top 50%, 0 0;
    padding: .6em .8em .5em 1.4em;
}







.overlay {
    z-index: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    /*
        color: rgb(181, 21, 10);
        rgba(255, 105, 134, 0.7)
    */

    visibility: hidden;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    /*
        background: #fff;
    */
    background: rgb(181, 21, 10);
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    color: white;
}

    .popup h2 {
        margin-top: 0;
        /*
        color: #333;
    */
        color: white;
        font-family: Tahoma, Arial, sans-serif;
    }

    .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        /*
        color: #333;
    */
        color: white;
    }

        .popup .close:hover {
            color: #06D85F;
        }

    .popup .content {
        max-height: 30%;
        overflow: auto;
    }

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}













/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

    /* When moving the mouse over the close button */
    .closebtn:hover {
        color: black;
    }
















#modalContainer {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0px;
    z-index: 10000;
    background-image: url(tp.png); /* required by MSIE to prevent actions on lower z-index elements */
}

#alertBox {
    position: relative;
    width: 33%;
    min-height: 100px;
    max-height: 400px;
    margin-top: 50px;
    border: 1px solid #fff;
    background-color: #fff;
    background-repeat: no-repeat;
    top: 30%;
}

#modalContainer > #alertBox {
    position: fixed;
}

#alertBox h1 {
    margin: 0;
    font: bold 1em Raleway,arial;
    background-color: #f97352;
    color: #FFF;
    border-bottom: 1px solid #f97352;
    padding: 10px 0 10px 5px;
}

#alertBox p {
    height: 50px;
    padding-left: 5px;
    padding-top: 30px;
    text-align: center;
    vertical-align: middle;
}

#alertBox #closeBtn {
    display: block;
    position: relative;
    margin: 10px auto 10px auto;
    padding: 7px;
    border: 0 none;
    width: 70px;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    background-color: #f97352;
    border-radius: 0px;
    text-decoration: none;
    outline: 0 !important;
}
