﻿.index-main-container {
    height: 100vh;
    background-color: #CAAAD6;
    width: 100vmax;
}

.inner-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p, label {
    font-size: 20px; /* Розмір шрифту 20px */
    font-family: 'Comfortaa', cursive; /* Встановлення шрифту Comfortaa для тексту */
    font-weight: bold; /* Товщина шрифту - жирний */
    margin-top: 10px; /* Опускаємо текст на 10 пікселів нижче */
}

.next {
    background-color: #9499F6; /* Фон кнопки "Build" */
    color: black; /* Колір тексту кнопки "Build" */
    border: none;
    border-radius: 20px; /* Закруглення кнопки */
    padding: 5px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 5px; /* Знизимо на 5 пікселів */
}

.text-n-photo {
    display: flex;
    justify-content:space-around;
    margin: 10%;
}

.img-cont {

}