﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" href="~/css/MainPageStyles.css">
</head>

<!--
<div class="index-main-container">
    <div style="display: flex; justify-content: flex-end;">
        <label>About us?</label>
    </div>
    <div class="inner-main">
        <div class="text-n-photo">
            <div style="display: flex; flex-direction:column; margin:10%">
                <label>
                    Unleash
                    Your
                    Creative  Potential
                </label>
                <label>
                    Computer Graphics
                </label>
            </div>
            <div class="img-cont" style="margin:10%;">
                <img />
                <div style="width:300px;height:300px;border:solid 1px"></div>
            </div>
        </div>
        <div>
            <button class="next">
                <a asp-area="" asp-page="/Colors">
                    Next
                </a>
            </button>
        </div>
    </div>
</div>
-->
<header class="header-item">
    <div class="header-item-content-div">
        <a asp-page="Index">
            <button class="header-button" id="home-button">
                <i class="fa-solid fa-house"></i>Home
            </button>
        </a>
        <a asp-page="Activity">
            <button class="header-button" id="activity-button">
                <i class="fa-solid fa-bars"></i>Activity
            </button>
        </a>
        <a>
            <button class="header-button" id="contact-us-button">
                <i class="fa-solid fa-phone-volume"></i>Contact us
            </button>
        </a>
    </div>
</header>
<div class="main-item">
    <div class="main-content-form">

        
        <div class="option-div" onclick="window.location.href='/Fractals'">
            <a class="option-text">Creating fractals</a>
            <div class="image-div"><img src="~/img/fractal-image.png"></div>
            <button class="start-option-button" id="upload-image-button">Start<i class="fa-solid fa-play"></i></button>
        </div>        
        <div class="option-div" onclick="window.location.href='/Colors'">
            <a class="option-text" asp-page="Colors">Work with color schemes</a>
            <div class="image-div"><img src="~/img/color-image.png"></div>
            <button class="start-option-button" id="upload-image-button">Start<i class="fa-solid fa-play"></i></button>
        </div>
        <div class="option-div" onclick="window.location.href='/Parallelogram'">
            <a class="option-text" asp-page="Parallelogram">Affine transformation of shapes</a>
            <div class="image-div"><img src="~/img/afine-image.png"></div>
            <button class="start-option-button" id="upload-image-button">Start<i class="fa-solid fa-play"></i></button>
        </div>

    </div>
</div>