﻿@page
@model Computer_Graphics.Pages.IndexModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/landingPageStyles.css">
</head>

<header class="header-item">
    <div class="header-item-content-div">
        <a asp-page="Index">
            <button class="header-button" id="home-button">
                <i class="fa-solid fa-house"></i>Home
            </button>
        </a>
        <a asp-page="Activity">
            <button class="header-button" id="activity-button">
                <i class="fa-solid fa-bars"></i>Activity
            </button>
        </a>
        <a>
            <button class="header-button" id="contact-us-button">
                <i class="fa-solid fa-phone-volume"></i>Contact us
            </button>
        </a>
    </div>
</header>
<div class="main-item">
    <div class="main-content-form">

        <div class="introduction-section">
            <h1 class="introduction-title">Power<br> Your<br><span class="hilightr-word">Creativity</span></h1>
            <a>
                This learning platform is all about computer graphics, like cool patterns (fractals),
                shape changes (affine transformations), and color changes. You get to try them out
                and there are quizzes to test what you've learned. Start exploring the world of
                computer graphics with this project!
            </a>
            <a asp-page="Index_2">
                <button class="start-button" id="upload-image-button">                
                    Let`s go                
                </button>
            </a>
        </div>

        <div class="image-section">
            <img src="~/img/opa.jpg">
        </div>

    </div>
</div>