.main {
    height: 100vh;
    background-color: #CAAAD6;
}

.header {
    display: flex;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    font-size: 24px;
}

.MYcontainer {
    display: flex;
    justify-content: space-between;    
}

.imgContainer {
    width: 500px;
    height: 500px;
    border-radius: 10%;
    border: 1px solid;    
    background-size: cover; /* Scale the background image to cover the entire div */
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: #E3D2C3;
    box-shadow: 15px 10px 5px gray;
}

.HSL {
    width: 300px;
    height: 250px;
    border-radius: 3%;
    border: 1px solid;
    margin: 5%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #98EBB1;
}

.CMYK {
    width: 300px;
    height: 250px;
    border-radius: 3%;
    border: 1px solid;
    margin: 5%;
    background-color: #98EBB1;
}

.ColorPalletContainer {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HSL-element {
    margin: 5%;
}

.img-n-button {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 5%;
}

label {
    font-size: 14px;
    font-family: 'Comfortaa', cursive; /* Встановлення шрифту Comfortaa для тексту */
    /*font-weight: bold; /* Товщина шрифту - жирний */
    /*margin-top: 10px; /* Опускаємо текст на 10 пікселів нижче */
}

#upload, #download {
    background-color: #9499F6; /* Фон кнопки "Build" */
    color: black; /* Колір тексту кнопки "Build" */
    border: none;
    border-radius: 20px; /* Закруглення кнопки */
    padding: 5px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 5%; /* Знизимо на 5 пікселів */
    font-size: 20px;
}





/* chat */
.rainbow-slider {
    width: 100%;
    /*background: linear-gradient(to right,
        red, orange, yellow, green, blue, indigo, violet);*/
    /*
        
    */
    background: linear-gradient(to right, 
        red, orange, yellow,
         rgb(97, 209, 5),green, rgb(1, 185, 84),
          rgb(0, 225, 255), blue, rgb(132, 0, 255),
           rgb(115, 0, 130), violet, rgb(255, 0, 157),
            rgb(255, 0, 0));
    /*background: linear-gradient(to right, 
        red, orange, yellow,
         rgb(97, 209, 5), green, rgb(1, 185, 84)
          rgb(0, 225, 255), blue, rgb(132, 0, 255)
           rgb(115, 0, 130), violet, rgb(255, 0, 157), rgb(255, 0, 0));*/
    appearance: none; /* Hide the default appearance */
    height: 10px; /* Set your preferred height */
    border-radius: 5px; /* Rounded corners for the track */
    outline: none; /* Remove focus outline */
}

.rainbow-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Hide the default thumb */
    width: 20px; /* Set your preferred thumb width */
    height: 20px; /* Set your preferred thumb height */
    background: white; /* Set the thumb's background color */
    border: 2px solid black; /* Optional: Add a border to the thumb */
    border-radius: 50%; /* Rounded thumb */
    cursor: pointer;
}


/*
input[type="range"]::-webkit-slider-runnable-track {
    background-color: #7edf07;
    border-radius: 0.5rem;
    height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    Override default look 

    appearance: none;
    margin-top: -4px; 
    Centers thumb on the track 

    background-color: #000000;
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #000000;
    outline-offset: 0.125rem;
}*/



/*input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}*/







.saturation-slider {
    width: 100%;    
    background: linear-gradient(to right, 
    rgba(142, 142, 142, 1), rgba(144, 255, 0, 1));    
    appearance: none;
    height: 10px;
    border-radius: 5px;
    outline: none;
}

.saturation-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Hide the default thumb */
    width: 20px; /* Set your preferred thumb width */
    height: 20px; /* Set your preferred thumb height */
    background: white; /* Set the thumb's background color */
    border: 2px solid black; /* Optional: Add a border to the thumb */
    border-radius: 50%; /* Rounded thumb */
    cursor: pointer;
}



.lightness-slider {
    width: 100%;    
    background: linear-gradient(to right, 
    rgba(157, 255, 28, 1), rgba(255, 255, 255, 1));    
    appearance: none;
    height: 10px;
    border-radius: 5px;
    outline: none;
}

.lightness-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Hide the default thumb */
    width: 20px; /* Set your preferred thumb width */
    height: 20px; /* Set your preferred thumb height */
    background: white; /* Set the thumb's background color */
    border: 2px solid black; /* Optional: Add a border to the thumb */
    border-radius: 50%; /* Rounded thumb */
    cursor: pointer;
}



.cyan-slider {
    width: 100%;    
    background: linear-gradient(to right, 
    rgba(0, 255, 255, 0), rgba(0, 255, 255, 1));    
    appearance: none;
    height: 10px;
    border-radius: 5px;
    outline: none;
}

.cyan-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Hide the default thumb */
    width: 20px; /* Set your preferred thumb width */
    height: 20px; /* Set your preferred thumb height */
    background: white; /* Set the thumb's background color */
    border: 2px solid black; /* Optional: Add a border to the thumb */
    border-radius: 50%; /* Rounded thumb */
    cursor: pointer;
}



.magenta-slider {
    width: 100%;    
    background: linear-gradient(to right, 
    rgba(255, 0, 255, 0), rgba(255, 0, 255, 1));    
    appearance: none;
    height: 10px;
    border-radius: 5px;
    outline: none;
}

.magenta-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Hide the default thumb */
    width: 20px; /* Set your preferred thumb width */
    height: 20px; /* Set your preferred thumb height */
    background: white; /* Set the thumb's background color */
    border: 2px solid black; /* Optional: Add a border to the thumb */
    border-radius: 50%; /* Rounded thumb */
    cursor: pointer;
}



.yellow-slider {
    width: 100%;    
    background: linear-gradient(to right, 
    rgba(255, 255, 0, 0), rgba(255, 255, 0, 1));    
    appearance: none;
    height: 10px;
    border-radius: 5px;
    outline: none;
}

.yellow-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Hide the default thumb */
    width: 20px; /* Set your preferred thumb width */
    height: 20px; /* Set your preferred thumb height */
    background: white; /* Set the thumb's background color */
    border: 2px solid black; /* Optional: Add a border to the thumb */
    border-radius: 50%; /* Rounded thumb */
    cursor: pointer;
}



.black-slider {
    width: 100%;    
    background: linear-gradient(to right, 
    rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));    
    appearance: none;
    height: 10px;
    border-radius: 5px;
    outline: none;
}

.black-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Hide the default thumb */
    width: 20px; /* Set your preferred thumb width */
    height: 20px; /* Set your preferred thumb height */
    background: white; /* Set the thumb's background color */
    border: 2px solid black; /* Optional: Add a border to the thumb */
    border-radius: 50%; /* Rounded thumb */
    cursor: pointer;
}