/*body{
    font-family: 'Livvic', sans-serif;
    font-size: 1.25rem;
    color:rgba(12, 8, 4, 0.74);
    background: linear-gradient(113.57deg, #D4D5C9 23.42%, #E4E6D9 39.89%, #E4E6D9 39.9%, #C6E3EC 107.94%);
}*/

/*------------------------------------------main content-----------------------------------------*/

/*__________set main form_________*/
.main-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #CAAAD6;/*#213a4200;*/
}

.main-content-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100%;
    background-color: rgba(59, 15, 47, 0);
}

/*__________________________Module Window CSS________________________*/


.inform-window{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 63%;
    background-color: #1661bc0d;
    border-radius: 1rem;
    border: 0.125rem solid rgba(44, 36, 36, 0.381);
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.inform-window-head{
    display: flex;
    justify-content: right;
    width: 100%;
    height: 10%;
    background-color: #307c5300;
   
}

.close-button{
    background: none;
    width: 3rem;
    margin-top: 0.75rem;
    margin-right: 0.75rem;
}

.cancle-icon{
    font-size: 2rem;
}

.inform-window-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
    background-color: #82d2b500;
}

.info-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-image-section{
    margin-top: 4rem;
    width: 40%;
    height: 100%;
    margin-right: 1rem;
}

.info-text-section{
    margin-top: 2rem;
    width: 60%;
    height: 100%;
}


