body{
    font-family: 'Livvic', sans-serif;
    font-size: 1.25rem;
    color:rgba(12, 8, 4, 0.74);
    background: #CAAAD6;
}

.header-item{
    display: flex;
    justify-content:end;
    align-items: center;
    background-color: rgba(254, 126, 94, 0);
    width: 100%; 
    height: 4rem; 
    padding: 0.625rem; 
}

.header-item-content-div{
    display: flex;
    width: 30rem;
    justify-content: space-around;
    align-items: center;
}

.header-button{
    background-color: rgba(201, 140, 80, 0);
    border-radius: 1rem;
    height: 2.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

#activity-button{
    background-color: #9499F6;
    color:#F4F4F4;
}

/*імпортований клас іконок*/
.fa-solid{
    padding-right: 0.75rem;
}

/*------------------------------------------main content-----------------------------------------*/

/*__________set main form_________*/
.main-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
    background-color: #213a4200;
}

.main-content-form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    width: 90%;
    height: 100%;
    background-color: rgba(59, 15, 47, 0);
}

/*________choose section_________*/
.option-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #E3D2C3;
    width: 30%;
    height: 70%;
    border-radius: 1rem;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    padding: 3%;
}

.image-div{
    width: 65%;
    height: 55%;
}

.start-option-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    border-radius: 1rem;
    background-color: #9499F6;
    color: #F4F4F4;
    height: 2.25rem;
    margin-top: 1rem;
    padding-left: 10%;
    padding-right: 5%;
}

.option-text{
    font-size: 1.75rem;
    line-height: 1.25;
    font-weight: 500;
    text-align: center;
}

