body{
    font-family: 'Livvic', sans-serif;
    font-size: 1.25rem;
    color:rgba(12, 8, 4, 0.74);
    background: linear-gradient(113.57deg, #D4D5C9 23.42%, #E4E6D9 39.89%, #E4E6D9 39.9%, #C6E3EC 107.94%);
}

/*------------------------------------------main content-----------------------------------------*/

/*__________set main form_________*/
.main-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #213a4200;
}

.main-content-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100%;
    background-color: rgba(59, 15, 47, 0);
}

/*__________________________Error Window CSS________________________*/


.warning-window{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40%;
    background-color: #1661bc0d;
    border-radius: 1rem;
    border: 0.125rem solid rgba(44, 36, 36, 0.381);
}

.warning-window-head{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 10%;
    background-color: #307c5300;
    margin-bottom: 1.5rem;
}

.close-button{
    margin: 1rem;
    background: none;
}

.cancle-icon{
    font-size: 2rem;
}

.warning-window-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
    background-color: #82d2b500;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.warning-info-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.warning-image-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    margin-right: 1rem;
}

.warning-icon{
    font-size: 5rem;
    color:#d4d05f;
}

.warning-text-section{
    margin-top: 2rem;
    width: 80%;
    height: 100%;
}

.confrim-warn-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    border-radius: 1rem;
    background-color: #ED7F1A;
    color: #F4F4F4;
    height: 2.25rem;
    margin-top: 1rem;
}


