body{
    font-family: 'Livvic', sans-serif;
    font-size: 1.25rem;
    color:rgba(12, 8, 4, 0.74);
    background: #CAAAD6;
}

.header-item{
    display: flex;
    justify-content:end;
    align-items: center;
    background-color: rgba(254, 126, 94, 0);
    width: 100%; 
    height: 4rem; 
    padding: 0.625rem; 
}

.header-item-content-div{
    display: flex;
    width: 30rem;
    justify-content: space-around;
    align-items: center;
}

.header-button{
    background-color: rgba(201, 140, 80, 0);
    border-radius: 1rem;
    height: 2.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

#activity-button{
    background-color: #9499F6;
    color:#F4F4F4;
}

/*імпортований клас іконок*/
.fa-solid{
    padding-right: 0.75rem;
}

/*------------------------------------------main content-----------------------------------------*/

/*__________set main form_________*/
.main-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
    background-color: #213a4200;
}

.main-content-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    width: 90%;
    height: 100%;
    background-color: rgba(59, 15, 47, 0);
}

/*________left informative section________*/
.introduction-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: left;
    width: 47%;
    height: 75%;
    background-color: rgba(190, 221, 175, 0);

}

.introduction-title{
    font-size: 4.25rem;
    line-height: 1.25;
}

.hilightr-word{
    color: #8E1A1A;
    font-weight: bold;
}

.start-button{
    width: 25%;
    border-radius: 1rem;
    background-color: #9499F6;
    color: #F4F4F4;
    height: 2.25rem;
    margin-top: 1rem;
}


.image-section {
    width: 600px; /* Замініть це значення на бажану ширину */
    height: 400px; /* Замініть це значення на бажану висоту */
    overflow: hidden;
    border-radius: 10px; /* Заокруглення кутив */
    padding-left: 150px;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Забезпечити, щоб зображення вписувалося повністю */
    border-radius: 10px; /* Заокруглення кутив для відображення також на фотографії */
}