body{
    font-family: 'Livvic', sans-serif;
    font-size: 1.25rem;
    color:rgba(12, 8, 4, 0.74);
    background: #CAAAD6;
}

/*--------------------------------------------Header-------------------------------------------*/
.header-item{
    display: flex;
    justify-content:end;
    align-items: center;
    background-color: rgba(254, 126, 94, 0);
    width: 100%; 
    height: 4rem; 
    padding: 0.625rem; 
}

.header-item-content-div{
    display: flex;
    width: 30rem;
    justify-content: space-around;
    align-items: center;
}

.header-button{
    background-color: rgba(201, 140, 80, 0);
    border-radius: 1rem;
    height: 2.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

#activity-button{
    background-color: #9499F6;
    color:#F4F4F4;
}

/*імпортований клас іконок*/
.fa-solid{
    padding-right: 0.75rem;
}
.fa-play{
    padding-left: 0.75rem;
}
/*------------------------------------------main content-----------------------------------------*/

/*__________set main form_________*/
.main-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content-form{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    background-color: rgba(54, 63, 70, 0);
}

/*____________top text___________*/
.main-form-top-text{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.main-form-top-text a{
    margin-bottom: 0.375rem;
    margin-left: 1rem;
}

/*--------------------------content -> definitions and photos section-----------------------*/


.whole-information-section {
    background-color: rgba(0, 255, 255, 0);
}


/*_________________________first section_______________________*/
.first-whole-section{
    background-color: rgba(134, 213, 225, 0.305);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.definition-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.definition-header h2{
    color: #9499F6;
}

.first-section-content{
    display: flex;
    justify-content: center;
}

/*_________text section________*/
.f-text-section{
    width: 70%;
    background-color: rgba(127, 255, 212, 0);
}



/*оффнути рісет в деяких місцях*/

.text-section ul.custom-list {
    list-style: disc; 
    padding-left: 4rem; 
}


/*_______photo-section_______*/

.f-photo-section{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.25rem;
    margin-left: 3.25rem;
    background-color: rgba(131, 139, 164, 0.177)
}

.photo{
    width: 68%;
}

.f-photo-section a{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1rem;
}


/*_________________________second section_______________________*/
.second-whole-section{
    background-color: rgba(134, 213, 225, 0.305);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    margin-top: 2rem;
}

.s-photo-section{
    display: flex;
    justify-content: space-around;
    background-color: rgba(131, 139, 164, 0.177);
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 2rem;
}

.s-picture-container{
    width: 13rem;
    /* height: 12rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/*_________________________third section_______________________*/
.third-whole-section{
    background-color: rgba(134, 213, 225, 0.305);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.t-content-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}